{% extends "layout.html" %}

{% block title %}
    history
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Transacted</th>
        </tr>
    </thead>
    <tbody>

            <tr>
                <td class="text-start">A</td>
                <td class="text-end">1</td>
                <td class="text-end">$118.86</td>
                <td class="text-end">2023-08-22 07:29:45</td>
            </tr>

            <tr>
                <td class="text-start">A</td>
                <td class="text-end">-1</td>
                <td class="text-end">$118.86</td>
                <td class="text-end">2023-08-22 07:30:01</td>
            </tr>

            <tr>
                <td class="text-start">A</td>
                <td class="text-end">1</td>
                <td class="text-end">$121.07</td>
                <td class="text-end">2023-09-01 10:16:02</td>
            </tr>

            <tr>
                <td class="text-start">A</td>
                <td class="text-end">-1</td>
                <td class="text-end">$121.91</td>
                <td class="text-end">2023-09-02 17:05:31</td>
            </tr>

            <tr>
                <td class="text-start">NFLX</td>
                <td class="text-end">2</td>
                <td class="text-end">$439.88</td>
                <td class="text-end">2023-09-02 17:06:04</td>
            </tr>

            <tr>
                <td class="text-start">NFLX</td>
                <td class="text-end">-2</td>
                <td class="text-end">$439.88</td>
                <td class="text-end">2023-09-02 17:06:13</td>
            </tr>

            <tr>
                <td class="text-start">A</td>
                <td class="text-end">1</td>
                <td class="text-end">$121.91</td>
                <td class="text-end">2023-09-02 17:49:27</td>
            </tr>

            <tr>
                <td class="text-start">NFLX</td>
                <td class="text-end">2</td>
                <td class="text-end">$439.88</td>
                <td class="text-end">2023-09-02 17:49:35</td>
            </tr>

            <tr>
                <td class="text-start">AAPL</td>
                <td class="text-end">2</td>
                <td class="text-end">$189.46</td>
                <td class="text-end">2023-09-02 17:49:40</td>
            </tr>

    </tbody>
</table>
{% endblock %}
